<!DOCTYPE html>
<html>
<head>
    <title>Individual Voting</title>
</head>
<body>
    {{message}}
    <h1>Positions and their Candidates</h1>
    <ul>
      {% if positions %}
      {% for position in positions %}
      <li>
        <h2>
            {{position.position_title}}
        </h2>
          {% csrf_token %}
          <ol>
            {% for candidate in position.candidates %}
              <li>
                <p>{{candidate.user.get_full_name}} 
                  {% if candidate.party %}
                    - {{candidate.party.name}}</p> 
                  {% else %}
                    - independent</p> 
                  {% endif %}
                    <a href="{% url 'voting:vote' candidate.id %}">Vote</a>
              </li>

            {% endfor %}
          </ol>
      </li>
      {% endfor %}
      {% else %}
      <li>
          <h1>
              We're Sorry. 
              No Positions are registered at the moment.
          </h1>
      </li>
      {% endif %}
    </ul>
</body>
</html>