{% extends 'base.html' %}

{% block title %}Voting (Party){% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h3>Parties and their Candidates</h3>
    <ul class="collection">
        {% if parties %}
            {% for party in parties %}
                <li class="collection-item">
                    <h4>{{ party.name }}</h4>

                    <ol>
                        <!-- {% if party.candidates %}
                            yey
                        {% else %}
                            ney
                        {% endif %} -->
                        {% for candidate in party.candidates %}
                        <li>
                                <h5>{{candidate.user.get_full_name}} 
                            {% if candidate.party %}
                                - {{candidate.party.name}}</h5> 
                            {% else %}
                                - independent</h5> 
                            {% endif %}
                                <a href="{% url 'voting:vote' candidate.id %}" class="btn">Vote Candidate</a>
                        </li>

                        {% endfor %}
                    </ol>
                    <br>
                    <a href="{% url 'voting:vote-party' party.id %}" class="btn">Vote Party</a>
                    <br><br>
                </li>
            {% endfor %}
        {% else %}
            <li class="collection-item">
                <h1>
                    We're Sorry. 
                    No parties are registered at the moment.
                </h1>
            </li>
        {% endif %}
    </ul>
    <br><br>
    <button onclick="goBack()" class="btn">Back</button>
    {% else %}
    <h3>You are not logged in...</h3>
    <a href="{% url 'login' %}" class="btn">login</a>
  {% endif %}
  
{% endblock %}