<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Hi {{ user.username }}! </h2>
    <br>
    <ul class="collection">
      <li class="collection-item">
        <h4>
          <a href="{% url 'voting:independent' %}">Vote for an Individual</a><br>
        </h4>
      </li>

      <li class="collection-item">
        <h4>
          <a href="{% url 'voting:party' %}">Vote for a Party List</a>
        </h4>
      </li>
    </ul>

    <ul>
      {% for position in positions %}
      <li>
        <h2>
            {{position.position_title}}
        </h2>
        <ul class="collection">
          <li class="collection-item"><h3>
          {% if position.get_leading %}
            {{ position.get_leading.get_full_name }}
          {% else %}
            No candidates currently have votes
          {% endif%}
          </h3></li>
        </ul>
      </li>
      {% endfor %}    
    </ul>
    <br><br>
    <a href="{% url 'logout' %}" class="btn">logout</a>
  {% else %}
    <h3>You are not logged in...</h3>
    <a href="{% url 'login' %}" class="btn">login</a>
  {% endif %}
  
{% endblock %}